#block-menu-block-in-main-menu-3 {
  display: none;
}
#page #block-menu-block-in-main-menu-3 h2.block__title{
  position: static !important;
  height: auto;
  width: auto;
  text-align: right;
  cursor: pointer;
  line-height: normal;
}
#block-menu-block-in-main-menu-3 ul.menu li{
  float: none;
  list-style: none;
}
#block-menu-block-in-main-menu-3 ul.menu li a{
  display: block;
  width: 100%;
}

#block-menu-block-in-main-menu-3 ul.menu li li{
  padding-left: 10px;
}

@media all and (max-width: 480px) {
  #block-menu-block-in-main-menu-1,
  #block-menu-block-in-main-menu-2{
    display: none;
  }
  #block-menu-block-in-main-menu-3{
    display: block;
  }

  #block-menu-block-in-main-menu-3 .menu-block-wrapper{
    display: none;
  }
}
